[submodule "themes/hugo-refresh"]
	path = themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh.git
[submodule "public"]
	path = public
	url = https://github.com/thejonedylanband/thejonedylanband.github.io.git
	branch = master
